.bodyMainContainer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    flex-direction: column;
}

.formMainContainer{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 600px) {
    .formMainContainer{
        height: 460px;
        overflow: auto;
    }
}

/* @media screen and (max-width: 680px) {
    .introParaMainContainer{
        padding: 0 15px 0 15px;
        display: flex;
        height: 50vh;
        align-items: center;
    }
} */
