.mainAppContainer{
  /* background-color: #1F2336; */
  height: 100%;
  min-height: 100vh;
  font-family: sans-serif;
  color: white;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.commonFormContainer{
  margin-top: 15px;
  width: 430px;
}

.commonFormGroupClass{
  position: relative;
  display: flex;
  flex-direction: column;
}

.commonFormButtonClass button{
  background-color: #1F2336;
}

.commonFormButtonClass button :hover{
  background-color: #1F2336 !important;
}

::-webkit-scrollbar {
  width: 2px;
}

.commonErrorShowClass{
  color: red;
  font-size: 10px;
  font-weight: bold;
}
